<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}HashDemo{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/static/base.css" />
  </head>
  <body>
    <header>
      <h1>Sign In or Register for a Secret</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/feedback">Feedback</a></li>
          {% if "user_id" in session %}
          <li><a href="/logout">Logout</a></li>
          <li><a href="/users/{{user.username}}">Profile</a></li>
          <li><span>Welcome, {{ user.username }}</span></li>
          {% else %}
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Sign Up</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>

    <main>{% block content %}{% endblock %}</main>
  </body>
</html>
