{% extends 'base.html' %} {% block content %}
<link rel="stylesheet" href="/static/homepage.css" />
<div class="secret">
  <img
  src="https://png2.cleanpng.com/sh/df1d921e58e24fadf70b9ae9e8fc7739/L0KzQYm3UsA2N6d5j5H0aYP2gLBuTgVvcaVqfJ98dHH3dcS0mf92fKZnfZ9sbHnzPbL5lL1kaaRqRdV1b4PodH73jvcubppxfZ8AYUe7QbS3WcdkPmdqTZC5M0e5QIW8VME2OWg9SqIEM0e4QIq9TwBvbz==/kisspng-united-states-youtube-clip-art-case-closed-png-file-5a781c097c66e5.0376045415178209375096.png"
  alt="secret"
</div>
{% endblock %}
